/* roboto-300 - latin */
@font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url('fonts/roboto/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
        src: local('Roboto Light'), local('Roboto-Light'),
        url('fonts/roboto/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/roboto/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/roboto/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
        url('fonts/roboto/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/roboto/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300italic - latin */
@font-face {
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 300;
        src: url('fonts/roboto/roboto-v18-latin-300italic.eot'); /* IE9 Compat Modes */
        src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
        url('fonts/roboto/roboto-v18-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/roboto/roboto-v18-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/roboto/roboto-v18-latin-300italic.woff') format('woff'), /* Modern Browsers */
        url('fonts/roboto/roboto-v18-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/roboto/roboto-v18-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 400;
        src: url('fonts/roboto/roboto-v18-latin-italic.eot'); /* IE9 Compat Modes */
        src: local('Roboto Italic'), local('Roboto-Italic'),
        url('fonts/roboto/roboto-v18-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/roboto/roboto-v18-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/roboto/roboto-v18-latin-italic.woff') format('woff'), /* Modern Browsers */
        url('fonts/roboto/roboto-v18-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/roboto/roboto-v18-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        src: url('fonts/roboto/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
        src: local('Roboto'), local('Roboto-Regular'),
        url('fonts/roboto/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/roboto/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/roboto/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('fonts/roboto/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/roboto/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500italic - latin */
@font-face {
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 500;
        src: url('fonts/roboto/roboto-v18-latin-500italic.eot'); /* IE9 Compat Modes */
        src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
        url('fonts/roboto/roboto-v18-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/roboto/roboto-v18-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/roboto/roboto-v18-latin-500italic.woff') format('woff'), /* Modern Browsers */
        url('fonts/roboto/roboto-v18-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/roboto/roboto-v18-latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        src: url('fonts/roboto/roboto-v18-latin-500.eot'); /* IE9 Compat Modes */
        src: local('Roboto Medium'), local('Roboto-Medium'),
        url('fonts/roboto/roboto-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/roboto/roboto-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/roboto/roboto-v18-latin-500.woff') format('woff'), /* Modern Browsers */
        url('fonts/roboto/roboto-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/roboto/roboto-v18-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
body {
        font-family: 'Roboto';
        font-weight: 300;
        font-style: normal;
        font-size: 12pt;
        max-width: 49em;
        margin: 0 auto 2em auto;
        line-height: 1.4;
        padding: 0em 0.5em;
}
h2 {
        font-size: 120%;
        font-weight: 400;
        page-break-after: avoid;
        margin: 0.7em 0em 0.2em 0em;
}
h1 {
        font-size: 150%;
        font-weight: 400;
        display: inline-block;
        margin-top: 8px;
        margin-bottom: 0px;
}
a {
        text-decoration: none;
        color: #000;
}
b {
        font-weight: 400;
}
strong {
        font-weight: 400;
}
.block {
        margin-left: 20px;
}
.item {
        margin-bottom: 0.5em;
        display: table;
        page-break-inside: avoid;
}
.year {
        width: 48px;
        display: table-cell;
}
.yearrange {
        width: 92px;
        display: table-cell;
}
.yearright {
        display: table-cell;
}
.onelineitem {
        margin-bottom: 5px;
        display: table;
        page-break-inside: avoid;
}
#name {
        page-break-after: avoid;
        font-size: 20pt;
        font-weight: 500;
        margin-bottom: 0px;
}
.tt {
        font-family: "Courier New", Courier, monospace;
        font-weight: 600;
}
.row {
        display: table-row;
}
.cell {
        display: table-cell;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
}
p {
        margin: 0 0 0.4em 0;
}
.vline {
        width: 100%;
        height: 1px;
        background-color: #000;
        margin: 0 0 0.6em 0;
}
.docname {
        font-size: 133%;
}

@media print{
        body {
                width: 680px;
        }
}
