body {
  background:#fff;
  color:#333;
  font:20px Ubuntu, Text, bodyfont, serif;
  line-height:30px;
  max-width:35em;
  margin:0px 14px 0 32px }

h1 {
  color:#333;
  font-family:Ubuntu, sans-serif;
  font-size:1.7em;
  font-weight:normal;
  margin-bottom:0px }

h2 {
  color:#666;
  font-family:Ubuntu, sans-serif;
  font-size:1.3em }

h3 {
  color:#666;
  font-family:Ubuntu, sans-serif;
  font-size:1em }

h4 {
  color:#666;
  font-family:Ubuntu, sans-serif;
  font-size:.8em }

time {
  color:#666;
  font-size:75% }

img {
  border:0;
  max-width:100%; }

p {
  line-height:30px;
  margin:15px auto;
  text-indent:0px }

p.caption {
  font-size:16px;
  margin-top:0;
  line-height:22px }

a {
  color:#303030;
  text-decoration:underline }

a:hover {
  color:#999 }

strong {
  color:#555555;
  font-weight:bold }

tt,pre {
  background-color:#fafafa;
  font-family:'Ubuntu Mono', Inconsolata, Monaco, monospace;
  line-height:1.2em }

pre {
  font-size:0.8em;
  overflow:auto;
  padding:10px }

header a {
  border-bottom:none }

header a#page-title {
  font-weight:bold }

#article-list {
  margin-top:100px }

#article-list ol li {
  line-height:1.2em;
  list-style-type:none;
  padding-bottom:10px }

nav {
  background:#fff;
  color:#666;
  font-family:Ubuntu, helvetica, sans-serif;
  font-size:13px;
  letter-spacing:4px }

nav a {
  border-bottom:none;
  color:#c0c0c0 }

nav li {
  display:inline }

nav p {
  text-align:right }

footer {
  background:#fff;
  color:#666;
  font-family:Ubuntu, helvetica, sans-serif;
  font-size:13px;
  letter-spacing:4px;
  padding-top:2em }

footer a {
  border-bottom:none;
  color:#c0c0c0 }

footer li {
  display:inline }

footer p {
  text-align:right }

.figure {
  width: 70%;
  display: block;
  margin: auto;
  text-align: center;
  font-style: italic }
